//文字コードはutf-8
@charset "UTF-8";

@use "../global" as g;

/* テキスト
========================================================*/
#{g.$prefix_mod}{
  &Text{
    font-size: 16px;
    font-family: g.$font_zenKaku;
    margin: 0 0 60px 0;
    @include g.media_queries{
      font-size: 14px;
    }
    
    &--center{
      text-align: center;
      line-height: 2em;

      @include g.media_queries{
        text-align: left;
      }
    }

    &--byTrain{
      margin: 0;
    }
  }
}

.strong{
  font-size: 18px;
}
